{% extends "base.html" %}

{% block content %}
    <img src = 'https://fontmeme.com/images/Pokemon-Logo.jpg' class = 'img-fluid text-center'>

    <div class="card position-absolute top-50 start-50 translate-middle text-center p-3 mb-2 bg-info text-dark" style="width: 25rem;">
        <div class="card-body">
        <h1 class="card-title">Account</h1>
        <p class="card-text p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end"> Name: {{ user.name }}</p>
        <p class="card-text p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">Username: {{ user.username }}</p>
        <p class="card-text p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">Email: {{ user.email }}</p>
        <p class="card-text p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end"> Password</p>
        <a href="/update" class="btn btn-primary">Update</a>
        </div>
    </div>

    <img src = 'https://www.pngitem.com/pimgs/m/31-311485_picture-generation-1-pokemon-starters-hd-png-download.png' class="position-absolute top-50 end-0 translate-middle-y" style="width: 45rem;">
{% endblock %}