{% extends "base.html" %}

{% block content %}

    <div class="card position-absolute top-50 start-50 translate-middle text-center" style="width: 24rem;">
        <div class="card-body p-3 mb-2 bg-info text-dark">
        <h5 class="card-title">Account</h5>
        <p class="card-text"> {{ user.name(value = user.name) }}</p>
        <p class="card-text"> {{ user.username(value = user.username) }}</p>
        <p class="card-text"> {{ user.email(value = user.email) }}</p>
        <p class="card-text"> {{ user.password(value = user.password) }}</p>
        </div>
    </div>
{% endblock %} 